Source: tuxpaint-stamps
Section: graphics
Priority: optional
Build-Depends: debhelper-compat (= 13)
Maintainer: Jonathan Carter <jcc@debian.org>
Uploaders: Debian Junior Maintainers <debianjr-maintainers@lists.alioth.debian.org>
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/debian-jr-team/tuxpaint-stamps
Vcs-Git: https://salsa.debian.org/debian-jr-team/tuxpaint-stamps.git

Package: tuxpaint-stamps-default
Architecture: all
Provides: tuxpaint-stamps
Depends: ${misc:Depends}
Recommends: tuxpaint
Description: Stamp files for Tux Paint, a paint program for children
 Tux Paint is meant to be a simple drawing program for young
 children.  It is not meant as a general-purpose drawing tool.
 It IS meant to be fun and easy to use.  Sound effects and a
 cartoon character help let the user know what's going on, and
 keeps them entertained.
 .
 Tux Paint is extensible.  Brushes and "rubber stamp" shapes can be
 dropped in and pulled out.  For example, a teacher can drop in a
 collection of animal shapes and ask their students to draw an
 ecosystem.  Each shape can have a sound which is played, and
 textual facts which are displayed, when the child selects the shape.
 .
 There is no direct access to the computer's underlying intricacies.
 The current image is kept when the program quits, and reappears when
 it is restarted.  Saving images requires no need to create filenames
 or use the keyboard.  Opening an image is done by selecting it from
 a collection of thumbnails.
 .
 This package contains sounds, images and other data for Tux Paint.
